{% extends "main1.html" %}
{% load static %}
{% load custom_tags %}
{% block title %}Projects{% endblock %}
{% block content %}
<div class="wrapper">
  <!-- Navbar -->
  {% include 'navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  {% include 'sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Projects</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Projects</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-flex align-items-center">
                  <h3 class="card-title mb-0 flex-grow-1">List Of Projects</h3>
                  {% if request.session.role == 'HR' or request.session.role == 'Project Manager' %}<a href="{% url 'add_project' %}" class="btn btn-primary ms-auto">Add Project</a>{% endif %}
              </div>



              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Deadline</th>
                    <th>Rate Status</th>
                    <th>Project Leader</th>
                    <th>Team Member</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% with 0 as counter %}
                  {% for project in projects %}
                  <tr>{% increment counter as counter %}
                    <td>{{ counter }}</td>
                    <td><a href="{% url 'project' project.id %}">{{project.name }}</a></td>
                    <td>{{ project.end_date }}</td>
                    <td>{{ project.rate_status }}</td>
                    <td>{{ project.leader.full_name }}</td>
                    <td> {% for member in project.team_members.all %}
                      {{member.full_name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                      No team members assigned
                    {% endfor %}
                    </td>
                    <td><span class="badge bg-success"><a href="{% url 'update_project' project.id %}"> {% if request.session.role == 'Employee' %}  View {% else %} Edit {% endif %}</a></span> </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  {% endwith %}
                  <tfoot>
                  <!-- Add Pagination Controls -->
                    <tr>
                      <td colspan="7">
                        <nav aria-label="Page navigation">
                          <ul class="pagination justify-content-center">
                            {% if projects.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                  <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ projects.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                            {% endif %}

                            <li class="page-item disabled">
                              <span class="page-link">Page {{ projects.number }} of {{ projects.paginator.num_pages }}</span>
                            </li>

                            {% if projects.has_next %}
                              <li class="page-item">
                                <a class="page-link" href="?page={{ projects.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="?page={{ projects.paginator.num_pages }}" aria-label="Last">
                                  <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                              </li>
                            {% endif %}
                          </ul>
                        </nav>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% endblock %}
